{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<article>
					<h2 class="article__titre">{{ article.title }}</h2>
					<p class="category__titre">{{ article.category.title }}</p>
					<p class="artcle__date">Date de l'article: {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}</p>
					<p class="article__description">{{ article.description }}</p>
					<p>{{ article.content }}</p>
					<a href="{{ path('article_edit', {'id': article.id}) }}" class="btn btn-danger">Edit</a>
				</article>
			</div>
		</div>
	</div>
{% endblock %}