{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
	<p>la classe des articles...</p>
		<div class="row">
			<div class="col-md-9">
				<h1>Je suis un grand titre</h1>
				{% for article in articles %}
					<article>
						<h2 class="article__titre">{{ article.title }}</h2>
						<p class="category__titre">Categorie : {{ article.category.title }}</p>
						<p class="artcle__date">Date de l'article: {{ article.createdAt | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }}</p>
						<p class="article__description">{{ article.description }}</p>
						<p>{{ article.content }}</p>
						<a class="btn btn-success article__button" href="{{ path('article_detail', {'id': article.id}) }}">En savoir plus</a>
					</article>
				{% endfor %}
			</div>
			<aside class="col-md-3">
				<h2>Categorie</h2>
				{% for article in articles %}
					<a class="btn btn-outline-dark category__titre " href="{{ path('cat_detail', {'id': article.category.id}) }}">{{ article.category.title }}</a>
					<p class="category__titre"></p>
				{% endfor %}
			</aside>
		</div>
	</div>
{% endblock %}