{% extends 'base.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<div class="col-md-9">
				<article>
					<h2 class="category__titre">{{ category.title }}</h2>
					<p class="article__description">{{ category.description }}</p>
					<a href="{{ path('cat_edit', {'id': category.id}) }}" class="btn btn-danger">Edit</a>
				</article>
			</div>
			<aside class="col-md-3">
				<h4>Articles liés à cette catégorie</h4>
				{% for article in category.articles %}
					<a href="{{ path('article_detail', {'id': article.id}) }}">
						{{ article.category.title }}<br>
					</a>
				{% endfor %}
			</aside>
		</div>
	</div>
{% endblock %}