{% extends 'base.html.twig' %}

{% block body %}

    <h1>{% block title %}Ajouter une Catgeorie{% endblock %}</h1><br>

    <div class="container">
        <div class="col-md-12">
            {{ form_start(form) }}
                {{ form_row(form.Title, {'attr': {'placeholder': "Titre de le la catégorie"}}) }}
                {{ form_row(form.Description, {'attr': {'placeholder': "Petite description de la catégorie"}}) }}
                
                {% if editMode %}
                    <button type="submit" class="btn btn-danger">
                        Modifier la category
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-danger">
                        Générer la category
                    </button>
                {% endif %}

            {{ form_end(form) }}
            
        </div>
    </div>

{% endblock %}