{% extends 'base.html.twig' %}

{% block body %}

    <h1>{% block title %}Ajouter un Article{% endblock %}</h1><br>

    <div class="container">
        <div class="col-md-12">
            {{ form_start(form) }}
                {{ form_row(form.Title, {'attr': {'placeholder': "Titre de l'article"}}) }}
                {{ form_row(form.Description, {'attr': {'placeholder': "Petite description de l'article"}}) }}
                {{ form_row(form.Content, {'attr': {'placeholder': "Contenu de l'article"}}) }}
                {% if editMode %}
                    <button type="submit" class="btn btn-danger">
                        modifier l'article
                    </button>
                {% else %}
                    <button type="submit" class="btn btn-danger">
                        Générer l'article
                    </button>
                {% endif %}
                {{ form_row(form.Category, {'attr': {'placeholder': "Nom de la Catégorie"}}) }}

                
            {{ form_end(form) }}
            
        </div>
    </div>


{% endblock %}