<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
          <a class="navbar-brand" href="{{path('home')}}">Chat Pito !</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{{path('articles')}}">
                  Article
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('new_article')}}">
                  Créer un article
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{{path('new_cat')}}">
                  Créer une catégorie
                </a>
              </li>
            </ul>
          </div>
        </nav>
    <div class="container">

        {% block body %}{% endblock %}

    </div>
    </body>
</html>
